<section class="mt-5">
  <h2>Tarefas</h2>
  <hr>
  <button type="button" class="btn btn-primary mb-3 mt-5" [routerLink]="['/new']">Nova tarefas</button>
</section>
<section>
  <div *ngIf="tasks.length == 0" class="alert alert-warning" role="alert">
    Nenhuma tarefa foi encontrada
  </div>
  <ul class="list-group" *ngIf="tasks.length > 0">
    <li class="list-group-item task-item" *ngFor="let task of tasks" >
      <app-task-list-item [task]="task" class="task-item"></app-task-list-item>
    </li>
  </ul>
</section>
